---
title: Collapsable JS Searchbox
---
<div id="" class="sb-container">
  <form>
    <input class="sb-input" placeholder="Enter your search term..." type="search" value="" name="search" id="search">
    <button class="sb-submit" type="submit" name="button"><img src="images/search.png" alt="" /></button>
  </form>
</div>
