.icon-footer_logo { background-image: url(png/footer_logo.png); background-repeat: no-repeat; }

.icon-header_logo { background-image: url(png/header_logo.png); background-repeat: no-repeat; }

.icon-search { background-image: url(png/search.png); background-repeat: no-repeat; }

.icon-test { background-image: url(png/test.png); background-repeat: no-repeat; }