.sb-container {
  padding: 2em;
  width: 80%;
  border: 1px dotted red;
}
form {
  height: 75px;
  border: 1px dotted grey;
  position: relative;
}
.sb-input {
  display: none;
}
.sb-input {
  width: 200px;
  // background-color: orange;
  height: 50px;
}
.sb-submit {
  background-color: transparent;
  border: 0;
  width: 50px;
}
.sb-icon-search {

}
